.list {
  width: 350px;
}

.item {
  display: flex;
  text-align: center;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.text {
  padding: 0;
  margin: 0;
}

.span {
  flex-grow: 1;
}

.button {
  margin-left: 10px;
  width: 80px;
  border-radius: 3px;
}

.heart {
  margin-right: 10px;
  color: #dc143c;
}
